---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ local_pv_pvc_name }}
  namespace: {{ local_pv_pvc_namespace }}
spec:
  accessModes: {{ local_pv_access_modes | to_yaml }}
  resources:
    requests:
      storage: {{ local_pv_size }}
  volumeName: {{ local_pv_name }}
